@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 768px) {
  .sidebar-name,
  .sidebar-link {
    text-orientation: sideways-right;
    writing-mode: sideways-lr;
    writing-mode: vertical-lr;
  }
}
